.featured {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* CARD */
.product-card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  color: #5f7f63;
  font-weight: bold;
}

.product-card button {
  margin-top: 10px;
  background: #5f7f63;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* ---------- TABLET ---------- */
@media (max-width: 900px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ---------- MOBILE ---------- */
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
